body{
font-family: Arial;
background:#0f0f0f;
color:white;
margin:0;
}

header{
text-align:center;
padding:80px;
background:linear-gradient(45deg,#1a1a1a,#000);
}

h1{
font-size:48px;
}

.links a{
margin:10px;
color:#00ffff;
text-decoration:none;
}

section{
padding:60px;
max-width:1000px;
margin:auto;
}

.projects{
display:grid;
grid-template-columns:1fr;
gap:60px;
}

.project{
background:#1b1b1b;
padding:30px;
border-radius:10px;
}

.project img{
width:100%;
margin-top:20px;
border-radius:10px;
}